.container__container {
  display: flex;
  flex-direction: column;
  background-color: turquoise;
}
.container__floor3 {
  display: flex;
  justify-content: space-evenly;
  background-color: blue;
  width: max-content;
}
.container__floor2 {
  display: flex;
  background-color: green;
  width: max-content;
}

.container__floor2lang_exp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: max-content;
}
.container__floor2stage {
  display: flex;
  width: max-content;
}
.container__floor2softskil_studies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: max-content;
}

.container__floor1 {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(182, 14, 78);
  width: max-content;
}
.avatarimage {
  width: 10vh;
}
