.loginform {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #b8b6b60e;
  border-radius: 15px;
  height: 16em;
  width: 35em;
  font-size: large;
  padding-top: 1em;
}
.loginlabel {
  padding: 0.7em;
}
.linktoregister {
  text-decoration: none;
}

a:visited {
  color: black;
}
.loginform-input {
  width: 25em;
}
