.container__container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
}
.infodisplay {
  display: flex;
  justify-content: space-around;
}

.infodisplay__box {
  display: flex;
  justify-content: center;
  width: 90%;
  border-style: dotted;
  font-size: 0.9em;
}
