.conteinseverything {
  display: flex;
  flex-direction: column;
}
.container__container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
}

.container__floor2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 28vh;
}

.container__floor2lang_exp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 33vh;
}
.container__floor2stage {
  display: flex;
  align-items: center;
  height: 33vh;
}
.container__floor2softskil_studies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 33vh;
}

.avatarimage {
  width: 20vw;
}
